  <aside class="bg-white">
    <section id="forecast">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>How much does adding Trends data outperform models not using it?</h2>
            
              <p>Adding to the model the selected Trends data, we get the following prediction:</p>
              
            <img src="img/trendsmodel.png" alt="trends model plot" >

              <p>That's 20% improvement in the forecast mean absolute error!</p>
              
              <p>This is quite a good performance. This might help predicting future increases in volatility which could suggest an upcoming crisis. 
                It can be used to bet against the market by shorting stocks, contracting put options with banks. <br>
                Feel free to use this results on the NASDAQ or S&P500 index and adding other keywords. <br>
                Or with a particular stock as Tesla by focusing on the keywords 'electric car', 'AV' and 'Elon Musk' searches for example. <br>
                Or if DJI is your favorite index, you can try to add more relevant keywords, it's up to you! <br>
                We can't guarantee the result, but we let you test it. <br>
                However, be careful about the fact that this model might not perform as well after the recession.</p>                                                    
                                                                   
              <a href="https://github.com/epfl-ada/ada-2020-project-milestone-p3-p3_adanas" class="btn btn-default btn-xl wow tada">Try the code!</a>
          </div>
      </div>
    </section>
  </aside>
