  <aside class="bg-dark">
    <section id="forecast">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>How much does adding Trends data outperform models not using it?</h2>
            
              <p>Adding to the model the selected Trends data, we get the following performance:<\p>
              <img src="img/trendsmodel.png alt="trends model plot">
              <p>That is, a <b>20% improvement<\b> in the forecast!<\p>
              <p>This is quite a good performance, and might help you "guessing" when to sell or buy DJI.
              And why not trying it on the NASDAQ index, adding tech-related keywords? Or with Tesla focusing on 'AV' and 'Elon Musk' searches?
              We can't guarantee the result, but we let you <b>test it<\b>. Or if DJI is your favorite index, you can try to add more relevant keywords, it's up to you! 
              However, be careful about the fact that this model <b>might not perform as well after the recession<\b>.<\p>                                                    
                                                                   
              <a href="https://github.com/epfl-ada/ada-2020-project-milestone-p3-p3_adanas" class="btn btn-default btn-xl wow tada">Try the code!</a>
          </div>
      </div>
    </section>
  </aside>
