<section class="bg-primary" id="goals">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The goal</h2>
                <hr class="light">
                <p class="text-faded">Who has watched movies or documentaries about the 2008 crisis like "The Big Short" or "Inside Job" and wondered
                    "If only I could predict the stock market crisis and make so much money by betting against the market"? We did. 
                    In particular, since this Covid-19 crisis, where we saw in barely four trading days a plunge of 26% in the Dow Jones Industrial Average.
                    We can clearly see since that more and more people have started trading on the stock market.
                    An important obervation is that the stocks volatility is influenced by how much people trade, thus it depends on people behaviour. 
                    And guess what could be a good insight on what people think? Their google searches!
                    That gave us the idea to use Google Trends for improve volatility forecasting models.
                    But we still have to find out which search terms are relevant and how to use them.</p>
            </div>
        </div>
    </div>
</section>
