<section class="bg-primary" id="goals">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The goal</h2>
                <hr class="light">
                <p class="text-faded">Who has never wondered how one could predict the stock market? Especially since this Covid-19 crisis, more and more people have started trading on the stock market.
Stock volatility is influenced by how much people trade, thus it depends on people behaviour. And guess what could be a good insight on what people think? Their google searchs! But we still have to find out which search terms these people type when trading a particular stock.</p>
            </div>
        </div>
    </div>
</section>
