 <aside class="bg-dark">
    <section id="intro">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Introduction</h2>
              <p>Here, we take the example of the <b>DJI<\b> index given his reputation of the (oldest) reference for market trends. 
              In paticular, we consider this index during the Covid-19 <b>crisis<\b> from February 20th until April 7th as it has been shown that using Google Trends is particurlay efficient inntimes of crisis (ref).
              However, the presented solution can be extrapolated for almost any stok of your choice as well as to other periods! 
              Indeed, we didn't include specific Covid-19 data.
              <\p>
          </div>
      </div>
    </section>
  </aside>
