  <aside class="bg-white">
    <section id="model">
      <div class="container text-center">
          <div class="call-to-action">
            
              <h2>What models perform the best when it comes to forecasting volatility?</h2>
            
              <p> First, we will analyse the daily log returns of the Dow Jones index. <br>
                
                <br>

                <img src="img/Daily_log_ret+volatility.png">
              
              Looking at the ACF and PACF, the only signficant lags seems to be 1 or 2. 
              However, after several tests, we got that no Auto-Regressive process is necessary for the mean model. For the volatility process, 
              the first lag is signficant. This means that the volatility of one day affects the next day. </p> <br>
            
                <img src="img/autocorrelation.png" alt="autocorrelation plot">
            
              <br>
              
              <p> This is all great but let's talk math now. The most efficient model we found is the GARCH(1,1) with zero mean and
              Student's t distributed errors. The formulas of the model are the following: </p>  <br>
            
              <br>
            
              ADD LATEX FORMULAS <br>
            
              <br>
            
              <p> Fitting the model to the data, we got the following results: </p>   
            
              Zero Mean - GARCH Model Results                           
              ====================================================================================
              Dep. Variable:                          DJI   R-squared:                       0.000
              Mean Model:                       Zero Mean   Adj. R-squared:                  0.012
              Vol Model:                            GARCH   Log-Likelihood:                4.39503
              Distribution:      Standardized Student's t   AIC:                         -0.790064
              Method:                  Maximum Likelihood   BIC:                           8.83681
                                                            No. Observations:                   82
              Date:                      Fri, Dec 18 2020   Df Residuals:                       78
              Time:                              17:23:39   Df Model:                            4
                                             Volatility Model                              
              =============================================================================
                               coef    std err          t      P&gt;|t|       95.0% Conf. Int.
              -----------------------------------------------------------------------------
              omega      1.7646e-03  1.492e-03      1.182      0.237 [-1.160e-03,4.690e-03]
              alpha[1]       0.3561  7.059e-02      5.044  4.553e-07      [  0.218,  0.494]
              beta[1]        0.6439  7.236e-02      8.898  5.673e-19      [  0.502,  0.786]
                                            Distribution                              
              ========================================================================
                               coef    std err          t      P&gt;|t|  95.0% Conf. Int.
              ------------------------------------------------------------------------
              nu             6.9856      3.506      1.992  4.632e-02 [  0.114, 13.857]
              ========================================================================
              
              Covariance estimator: robust
              
              ADD BASE MODEL SUMMARY TABLE <br>
            
              <br>
                                                                          
              <img src="img/basemodel.png" alt="baseline plot" >
          
              <br>
      
              <p> The performance of this GARCH model is already quite good! But let's see if we can further improve it using Google Trends. </p> 
            
          </div>
      </div>
     </section>
  </aside>
