  <aside class="bg-dark">
    <section id="trends">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>When trading the DJI index, what do people search for on Google?</h2>
              
              <p> When people are interested in a given stock, they will google its ticker and related industry or context. 
                In the case of the DJI index whivh encompass several industries, the <b>context<\b> is more important.
                Here in context of crisis, people will search for words such as 
                'debt','loan','job','unemployment','economics','inflation','sell','bonds','gold','stocks','dow jones', 'crisis','finance','risk', or'leverage'. (ref)
            
                As we want to make the model fast and simple, let's keep only the most relevant ones.
                That is, keywords people search a lot and which correlate with the stock volatility: <b>'unemployment','stocks','crisis', and 'dow jones'<\b>.
            
                The spikes in volatility appear right after a lot of people searched for the selected keywords. We are quite on the right track!</p>
            
              <img src="img/trends.png alt="trends plot">
          </div>
      </div>
    </section>
  </aside>
